* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  background-color: #E5E5E5;
  font-family: "Lato", serif;
}

.bottom {
  display: flex;
  padding: 20px 113px 10px;
  background-color: #262D33;
  flex-direction: column;
  align-items: center;
}
.bottom .big-text {
  color: #fff;
  font-size: 41px;
  font-weight: 700;
}
.bottom .text {
  margin-top: 10px;
  line-height: 1.5;
  display: flex;
  font-size: 12px;
  color: #fff;
}

.container {
  padding-left: 113px;
  padding-right: 113px;
}

.styleNu {
  gap: 511px;
}

.styleFA {
  gap: 514px;
}

.styleDT {
  gap: 420px;
}

.styleDp {
  gap: 489px;
}

.styleAl {
  gap: 484px;
}

.styleML {
  gap: 466px;
}

.top .head {
  padding-top: 79px;
  padding-bottom: 10px;
  background-color: #fff;
  display: flex;
  align-items: center;
  font-family: "Roboto Slab", serif;
  border-bottom: 2px solid #E5E5E5;
}
.top .head .left {
  display: flex;
  align-items: center;
  gap: 20px;
}
.top .head .left .icon {
  width: 100px;
}
.top .head .left .text-left {
  font-size: 17px;
  color: #4B5157;
}
.top .head .title {
  color: #262D33;
  font-size: 41px;
  font-weight: 700;
}
.top .head .right {
  font-size: 17px;
  color: #4B5157;
}
.top .other {
  line-height: 2;
  position: fixed;
  width: 100%;
  background-color: #262D33;
  display: flex;
  align-items: center;
  gap: 60px;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #3c4750;
}
.top .other .link {
  font-size: 17px;
  color: #fff;
  font-weight: 600;
  line-height: 1.5;
  transition: all 0.4s cubic-bezier(0.39, 0.58, 0.08, 2.05);
}
.top .other .link:hover {
  transform: translate(-4px, -5px);
}
.top .other .left-side {
  display: flex;
  gap: 47px;
}
.top .other .Home {
  display: flex;
  font-weight: 900;
  font-size: 24px;
  color: #fff;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.top .other .Home:hover {
  transform: scale(1.2, 1.2);
}
.top .other .right-side {
  display: flex;
  gap: 47px;
}

.images {
  margin: 20px;
}
.images .img {
  border-radius: 20px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 394px;
  height: 360px;
}

.content {
  display: flex;
  justify-content: space-around;
  padding-top: 30px;
  background-color: #fff;
}
.content .leftpart {
  display: flex;
  flex-direction: column;
  width: 45%;
  justify-content: center;
}
.content .leftpart .title {
  padding-bottom: 30px;
  color: #262D33;
  font-size: 41px;
  font-weight: 700;
}
.content .leftpart .text {
  line-height: 1.5;
  display: flex;
  font-size: 21px;
  color: #4B5157;
}

.content2 {
  display: flex;
  justify-content: space-around;
  background-color: #E5E5E5;
}/*# sourceMappingURL=styleML.css.map */